html,
body {
    margin: 0;
    padding: 0;
    background-image: url("https://thumbs.dreamstime.com/b/abstract-vintage-beige-background-scratches-scuffs-64160380.jpg");
    z-index: 2;
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
    background: #24252A;
    font-family:  Calibri;
    padding-right: 15px;
    padding-left: 15px;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.navdiv li{
    list-style: none;
    display: inline-block;
}

.navdiv li a{
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
}

.navdiv li a:hover{
    color: #0088A9;
}

.navdiv button{
    background-color: rgba(0, 136, 169, 1);
    margin-left: 10px;
    border-radius: 50px;
    padding: 10px;
    max-width: 60rem;
    border: none;
    transition: all 0.3s ease 0s;
}

.navdiv button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transition: 0.25s;
}

button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.main-header {
    padding-bottom: 10px;
}

.title {
    text-align: center;
    margin-top:5%;
    margin-bottom: 5%;
    font-size: 4em;
    font-family: luminari, fantasy;
    font-weight:500;
    color:black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.minititle {
    margin-bottom: 2px;
    font-size:1.5em;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}


.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;  
    background-color: #edf0f1;
    z-index: 5; 
}
.card:hover {
    transform: scale(1.05);  /* Slightly enlarges the card */
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);  /* Stronger shadow on hover */
}


.card-content {
    padding: 20px;
    font-family: calibri;
    color: #24252A;
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
}


.card img {
    width: 100%;
    height: auto;
}

.game-image{
    max-height:200px;
}

.card-content li{
    color: #24252A;
    margin-top:5px;
    margin-bottom:5px;
    list-style: none;
}

.sort,
.filter{
    text-align: center;
}

.sort button,
.filter button{
    font-size: 1em;
    background-color: snow;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #ccc;
}
.sort button:hover,
.filter button:hover{
    background-color: #b1f2ff;
    transform: scale(1.1);  /* Slightly enlarges the card */
    font-weight: bold;
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);  /* Stronger shadow on hover */
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #F6F6F6;
    margin-left: 20%;
    margin-right: 20%;
    transition: box-shadow 0.25s;
}
.search-icon{
    margin-left: 5%;
}
.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.search:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

#search-input{
    width: 60vw;
    font-size: 16px;
    font-family: Calibri;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border:none;
    background: transparent;
}

.search-input::placeholder{
    color: rgba(0, 0, 0, 0.5)
}

.footer {
    background: rgb(12, 12, 12);
    width: 100%;
    padding: 30px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 40%;
}

.socialIcons a:hover{
    background-color: rgb(12, 12, 12);
    transition: 0.25s;
}

.socialIcons a i{
    font-size: 2em;
    color:#24252A;
    opacity: 0.9;
}

.socialIcons a i:hover{
  color: #0088A9;
}

.footerNav{
    margin: 13px 0px;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li{
    list-style: none;
}

.footerNav ul li a{
    color: white;
    margin: 20px 20px 0px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.25s;
}

.footerNav ul li a:hover{
    color: #0088A9;
}

.footerBottom{
    background-color: rgb(12, 12, 12);
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin:0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

.background{
    background-image: url("https://wallpapercave.com/wp/wp1979062.jpg");
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 3%;
}

.modal-content img{
    width: 100%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.minititle{
    color: black;
    font-weight: bold;
    font-size: 2em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

/*
.newGame{
    text-align: center;
}

.addName, .addPlatform, .addRelease, .addImg {
    font-size: 1.5em;
    margin: 1% 35%; 
    text-align: justify;
    font-weight: bold;
}

.addGameBody{
    background-image: url("https://media.istockphoto.com/id/165102644/photo/old-paper.jpg?s=612x612&w=0&k=20&c=W9yT9C4BqkrknYgR0nqK5L790p-9bj762fpGq3mmMo0=");
}

.newGame button{
    font-size: 1em;
    background-color: snow;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #ccc;
}

.newGame button:hover{
    background-color: #b1f2ff;
    transform: scale(1.1);  
    font-weight: bold;
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);  
}

.addName input, .addPlatform input, .addRelease input, .addImg input {
    width: 100%;
    font-size: 0.8em;
    border-radius: 5px;
    outline: none;
    border:none;
    
}*/